html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: beige;
}

.table-height-full {
	height: calc(40% - 56px);
	width: auto;
}

.centering-parent {
	position: relative;
}

.centering-children {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.panel {
	max-width: 100%;
}

.panel-control {
	position: relative;
	border: solid 0.1px #fff;
	border-bottom: dotted 1px #ccf;
	background-color: aliceblue;
}

.panel-control label {
	margin-left: 0px;
	/* width: 100%; */
	display: inline-block;
}

canvas#analysis-spectrum {
	width: 100%;
	/* width: auto; */
}

canvas#analysis-waveform {
	width: 100%;
	/* width: auto; */
}