:root {
	--panel-control-height: 225px;
	--panel-control-height-sm: 170px;
	--panel-control-label-height: 24px;
	--panel-control-label-height-sm: 24px;
	--panel-control-label-font-size: 1rem;
	--panel-control-label-font-size-sm: 0.8rem;
	--panel-control-canvas-height: 200px;
	--panel-control-canvas-height-sm: 150px;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: beige;
}

.centering-parent {
	position: relative;
}

.centering-children {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.table-height-full {
	height: calc(100% - (5px + (2 * var(--panel-control-height))));
	width: auto;
}

.panel {
	max-width: 100%;
}

.panel-control {
	position: relative;
	border-right: dotted 1px #ccf;
	border-bottom: dotted 1px #ccf;
	background-color: beige;
	height: var(--panel-control-height);
}

.panel-control label {
	background-color: aliceblue;
	line-height: var(--panel-control-label-height);
	padding: 0rem 1rem;
	font-size: var(--panel-control-label-font-size);
}

.panel-control canvas#analysis-spectrum,
.panel-control canvas#analysis-waveform {
	background-color: aliceblue;
	margin: 0;
	padding: 0;
	width: 100%;
	height: var(--panel-control-canvas-height);
}

@media (max-width: 575.98px) {
	.table-height-full {
		height: calc(100% - (5px + (3 * var(--panel-control-height-sm))));
		width: auto;
	}

	.panel-control {
		position: relative;
		border-right: dotted 1px #ccf;
		border-bottom: dotted 1px #ccf;
		background-color: beige;
		height: var(--panel-control-height-sm);
	}

	.panel-control label {
		background-color: aliceblue;
		line-height: var(--panel-control-label-height-sm);
		padding: 0rem 1rem;
		font-size: var(--panel-control-label-font-size-sm);
	}

	.panel-control canvas#analysis-spectrum,
	.panel-control canvas#analysis-waveform {
		background-color: aliceblue;
		margin: 0;
		padding: 0;
		width: 100%;
		height: var(--panel-control-canvas-height-sm);
	}

}