:root {
	--panel-control-height: 30.0rem;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: aliceblue;
}

.panel {
	max-width: 100%;
}

.centering-parent {
	position: relative;
}

.centering-children {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.row-height {
	background-color: aliceblue;
	height: calc(100% - var(--panel-control-height) - 2.0rem);
}

.table-height {
	height: 100%;
}

.panel-control {
	position: relative;
	height: calc(var(--panel-control-height) - 2.0rem);
}

.panel-control canvas#analysis-spectrum {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 0px;
	background-color: var(--bs-body-bg);
	height: calc(var(--panel-control-height) - 2.0rem);
}

#tamh {
	font-family: monospace;
	font-size: 14px;
	border: 0;
	padding: 8px;
	width: 100%;
	margin-top: 0px;
	border-radius: unset;
	height: calc(var(--panel-control-height) - 2.0rem);
	max-height: calc(var(--panel-control-height) - 2.0rem);
	min-height: calc(var(--panel-control-height) - 2.0rem);
}
